* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: #fdfdfd;
  color: #333;
}

header.hero {
  background: #4f46e5;
  color: white;
  padding: 80px 20px;
  text-align: center;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.buttom {
  
}

.social-links a {
  color: white;
  margin: 0 10px;
  text-decoration: underline;
  font-size: 1rem;
}

section {
  padding: 60px 20px;
  max-width: 800px;
  margin: 0 auto;
  height: 100vh;
  border: 1px solid gray;
  border-radius: 20px;
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}



.project {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  background: #fff;
}

.project a {
  color: #4f46e5;
  text-decoration: none;
}

.contact-button {
  display: inline-block;
  background: #4f46e5;
  color: white;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  text-decoration: none;
}

.contact-button:hover {
  background: #3730a3;
}

footer {
  text-align: center;
  padding: 20px;
  background: #f3f4f6;
  font-size: 0.9rem;
}
